In [1]:
#1: Jeg har valgt oppgave 1, som skal forutse askjemarked prisene til Tesla. Man skal kunne legge inn en dato som input, og så skal programmet returnere forventet pris på gitt dato.

#2: Jeg har valgt å bruke regresjon i denne oppgaven, siden den bare skal returnere et tall. Samme gjelder oppgave 2, siden man bare skal skrive ut forventet antall passasjerer, men med klassifikasjon kan man også "klassifisere" data, som kjønn og alder.

#3: Litt ble nevnt over, men jeg valgte regresjon fordi det virker bra når man skal forutsi for eksempel priser. Det er bra når man skal finne sammenhenger mellom variabler, som i dette tilfellet er datoer og prisen på aksjemarkedet.

In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

import seaborn as sns


url = "https://raw.githubusercontent.com/umaimehm/Intro_to_AI_2021/main/assignment2-machinelearning/TSLA.csv"

In [3]:
df = pd.read_csv(url)
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-06-29,3.800000,5.000000,3.508000,4.778000,4.778000,93831500
1,2010-06-30,5.158000,6.084000,4.660000,4.766000,4.766000,85935500
2,2010-07-01,5.000000,5.184000,4.054000,4.392000,4.392000,41094000
3,2010-07-02,4.600000,4.620000,3.742000,3.840000,3.840000,25699000
4,2010-07-06,4.000000,4.000000,3.166000,3.222000,3.222000,34334500
...,...,...,...,...,...,...,...
2840,2021-10-08,796.210022,796.380005,780.909973,785.489990,785.489990,16711100
2841,2021-10-11,787.650024,801.239990,785.500000,791.940002,791.940002,14200300
2842,2021-10-12,800.929993,812.320007,796.570007,805.719971,805.719971,22020000
2843,2021-10-13,810.469971,815.409973,805.780029,811.080017,811.080017,14120100
2844,2021-10-14,815.489990,820.250000,813.349976,818.320007,818.320007,12203200

In [4]:
df['Date'] = pd.to_datetime(df.Date,format='%Y-%m-%d')
df.index = df['Date']

data = df.sort_index(ascending=True, axis=0)

In [5]:
#Trener algoritmen her
x_train, x_test, y_train, y_test = train_test_split(df[['Close']], df[['Date']], test_size=.2)

model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [6]:
y_pred = model.predict(x_test)

In [7]:
print(x_test.describe())

            Close
count  569.000000
mean   110.463550
std    197.088590
min      3.664000
25%     20.480000
50%     45.860001
75%     64.269997
max    863.419983

In [8]:
print(x_train.describe())

             Close
count  2276.000000
mean    104.700973
std     186.683434
min       3.160000
25%       9.034500
50%      45.909000
75%      65.348997
max     883.090027

In [9]:
#Her ville jeg vise/sammenlikne treningsverdiene og verdiene AIen gir med linær regresjon, men fikk ikke til å vise
# regresjonen på et plot
#Vet vi skulle ta inn en input variabel fra brukeren i form av dato, men fikk mange problemer når jeg skulle gjøre det. Fikk f.eks en feil som sa at str ikke er callable, som jeg ikke klarte å fikse
Usikker på hva som mentes med prediction percentage score. Hvis det er .score vi skulle bruke til det har jeg ikke fått det til. Fikk bare feilmeldinger